/*My Awesome Styles*/

/*Diagnostic Styling
* Change background color
* Outline Elements
*/

.logo {
    width:500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  

    /* bring your own prefixes */

  }

  .pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* sonja picture */

div {
  background-size: cover;
    padding-top: 50px;
    color:burlywood;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  font-size: 100px;
}

.word4 {
  color:#714BA0;
  font-family: 'Philosopher', sans-serif;
  font-style: italic bold;
}

section {
  background-color: #714BA0;
  padding: 50px;
  display:inline-block;
}

