/* Global.Site.Base */
 
h1 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}

h1 span:nth-child(even) {
  color: thistle;
}

/* Home Page */
.home {
  background-image: url(japan.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  object-fit: cover;

}
@media only screen and (max-width: 767px) {
  body { background-image: url(images/japan.jpg);
  }
}


#logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}



/* Bio */
.bio {
  background: turquoise;
}




/* Contact */
.contact{
  background: thistle;
}



/*Portfolio*/
figure{
  background: purple;
  width: 200px;
  padding: 1em;
}
